<header class="navbar">
    <div class="navbar-container">
        <!-- Logo con enlace a la página de inicio -->
        <div class="navbar-logo">
          <a routerLink="/home">
            <img src="assets/images/logo.png" alt="Logo" class="navbar-logo-img">
            <span>Clínica Juventud Plena</span>
          </a>
        </div>

    <!-- Dirección y contacto (con redes sociales debajo) -->
    <div class="navbar-info">
      <div class="navbar-location">
        <span>Av. San Borja Sur 387 – Lima</span>
      </div>
      <div class="navbar-contact">
        <span><i class="fas fa-phone"></i> Central telefónica: (01) 211 – 4141</span>
        <div class="social-media">
          <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </div>

    <!-- Botón para reservar cita -->

  </div>
</header>

<!-- Barra de navegación principal -->
<nav class="navbar-main">
  <div class="navbar-main-container">
    <a class="nav-link" routerLink="/paciente">Pacientes</a>
    <a class="nav-link" routerLink="/medico">Médicos</a>
    <a class="nav-link" routerLink="/historial-clinico">Historial Clínico</a>
    <a class="nav-link" routerLink="/cita">Citas</a>
    <a class="nav-link" routerLink="/medicamento">Medicamentos</a>
  </div>
</nav>
