
  /* General Styles */
  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f9f9f9;
      color: #333;
  }

  .home-container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
  }

  h1, h2 {
      color: #0056b3;
  }
  .clinic-data h2 {
    text-align: center;
    font-size: 40px;
    color: #0056b3;
    margin-bottom: 20px;
}

  .clinic-info {
      text-align: center;
      padding: 20px;
      background-color: #e9f5ff;
      border-radius: 8px;
      margin-bottom: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .clinic-logo {
    display: block;
    margin: 0 auto 10px auto;
    max-width: 300px; 
    height: auto;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

  .clinic-info p {
      margin: 5px 0;
      line-height: 1.6;
  }

  .clinic-data-table {
      width: 100%;
      border-collapse: collapse;
      background-color: #fff;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      margin-top: 20px;
  }

  .clinic-data-table thead {
      background-color: #0056b3;
      color: #fff;
  }

  .clinic-data-table th, .clinic-data-table td {
      padding: 15px;
      text-align: left;
      border-bottom: 1px solid #ddd;
  }

  .clinic-data-table th {
      font-size: 16px;
  }

  .clinic-data-table tbody tr:nth-child(odd) {
      background-color: #f9f9f9;
  }

  .clinic-data-table tbody tr:nth-child(even) {
      background-color: #e3f2fd;
  }

  .clinic-data-table tbody tr:hover {
      background-color: #cde8ff;
      cursor: pointer;
  }

  .clinic-data-table td {
      font-size: 14px;
      color: #555;
  }


  @media (max-width: 768px) {
      .clinic-info, .clinic-data-table {
          margin: 10px;
      }

      .clinic-data-table th, .clinic-data-table td {
          font-size: 12px;
          padding: 10px;
      }
  }
  .about-us {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-us h2 {
    text-align: center;
    color: #0056b3;
    margin-bottom: 15px;
    font-size: 24px;
}

.about-us p {
    line-height: 1.8;
    color: #333;
    font-size: 16px;
    text-align: justify;
    margin: 10px 0;
}
