<div class="home-container">
    <!-- Información de la clínica -->
    <section class="clinic-info">
        <h1>Bienvenido a </h1>
        <h1>Clínica Juventud Plena</h1>
        <img src="assets/images/logoprincipal.png"  alt="Clínica Juventud Plena" class="clinic-logo">
    </section>
  
    <!-- Sobre Nosotros -->
    <section class="about-us">
        <h2>Sobre Nosotros</h2>
        <p>En <strong>Clínica Juventud Plena</strong>, nos dedicamos a proporcionar servicios médicos de alta calidad a nuestros pacientes. 
        Nuestra misión es cuidar de tu salud y bienestar a través de un enfoque integral que combina tecnología de vanguardia, 
        un equipo altamente capacitado y un trato humano excepcional.</p>
        <p>Contamos con modernas instalaciones diseñadas para brindar comodidad y seguridad en cada consulta y procedimiento. 
        Desde la prevención hasta el tratamiento, estamos comprometidos con ofrecer soluciones personalizadas que se adapten 
        a las necesidades de cada paciente.</p>
        <p>Tu salud es nuestra prioridad, y trabajamos diariamente para garantizar la excelencia en todos los aspectos de nuestro servicio.</p>
    </section>
  
    <!-- Agregar tablas u otra información -->
    <section class="clinic-data">
        <h2>Datos de la Clínica</h2>
        <table class="clinic-data-table">
            <thead>
                <tr>
                    <th>Elemento</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pacientes</td>
                    <td>Información general sobre los pacientes registrados</td>
                </tr>
                <tr>
                    <td>Citas</td>
                    <td>Gestión y programación de citas médicas</td>
                </tr>
                <tr>
                    <td>Medicamentos</td>
                    <td>Listado de medicamentos recetados y disponibles</td>
                </tr>
                <tr>
                    <td>Historial Médico</td>
                    <td>Registro detallado de los antecedentes médicos de los pacientes</td>
                </tr>
                <tr>
                    <td>Médicos</td>
                    <td>Información sobre los médicos que forman parte del equipo</td>
                </tr>
            </tbody>
        </table>
    </section>
  </div>
  